/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(211, 62, 62);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(211, 62, 62);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

#mal_list_wrapper{
  font-family: 'Ubuntu', sans-serif;
}

.table-wrapper{
  border: solid 1px rgb(183, 183, 183);
  margin: 0 10% 5% 10%;
}

.wrapper_thumbnail{
  display: flex;
  padding: 1%;
}

.cover-image{
  height: 150px;
  max-width: 200px;
}
.wrapper_text_inside{
  display: inline;
}

.thumbnail_image{
  width: 75px;
}